<body>
<div class="container shadow-lg p-3 mb-5 bg-white rounded">
<h3>Contact us </h3>
<h5>Hey there we would love to hear from you</h5>
<h5 class="text-info">Do you have any special orders or preferences to your orders? fill the form below to send us a special message</h5>
<div id="alert-prompt" class="alert alert-success" style="display:none">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong style="display: block;" id="alerttext">Enter details to login</strong>
</div>
<form>
    <label>Name</label>
<input type="text" name="name" class="form-control" id="name"></input>
<label>Email</label>
<input type="text" name="email" class="form-control" id="email"></input>
<label>Phone Number</label>
<input type="text" name="phoneNumber" class="form-control" id="phoneNumber"></input>
<label>Message</label>
<textarea class="form-control" name="message" id="message"></textarea>
<br>
<input value="submit message" id="submitMessage" class="btn btn-info" type="submit" name="submitMessage"></input>
</form>


</div>


</body>