<!-- Page Header -->

<div class="container">

    <div class="row">

        <div class="col-md-8 offset-md-2">
            <form name="postform">


                <div class="control-group" style="margin-top: 7px;">
                    <div class="floating-label-form-group form-group controls">
                        <label><b>Title</b></label>
                        <input type="text" name="title" class="form-control" placeholder="enter post tittle">
                    </div>

                </div>

                <div class="control-group">
                    <div class="floating-label-form-group form-group controls">

                        <label><b>content</b></label>
                        <textarea class="form-control" name="content" cols="30" rows="10" placeholder="enter post content"></textarea>

                    </div>

                </div>

                <div class="form-group mt-5">
                    <label><b>Select image</b></label>

                    <input class="form-control-file" type="file" name="image">


                </div>

                <div class="text-center">
                    <button id="createbut" class="btn btn-primary" type="button">
                      Create Post
                      </button> </div>
            </form>

        </div>
    </div>
</div>