<!DOCTYPE html>
<html lang="en">

<!-- Header -->
<div style="height:400px" class="bg-primary py-5 mb-5 po">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">
                <h1 class="display-4 text-black mt-5 mb-2"></h1>
                <h1 class="wrap text-white"> <span>Star Catering</span></h1>
            </div>
        </div>
    </div>
</div>
<div style="margin-bottom:7px" class="container shadow-lg p-3 mb-5 bg-white rounded">
    <div ><h4 class="text-center" ><b id="heading">For the love
            of pastries</b></h4>
            <p style="color:gey" class="text-center ">Baking is an art and at star catering we have mastered this art.<br>every product you see in our store is specially crafted<br>with years of baking experience<br> to bring you delight with evey munch.<br><br>
                <b>Birthdays,weddings,naming ceremonies</b> with Star catering<br> you will have a reason to <br>smile at the end of every ocassion

            
            </p>
        </div>
</div>
<div  id="carouselslider" class="container carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          
          <div class="carousel-item">
            <img style="height: 60%;width:60%" class="rounded mx-auto d-block" src="/img/candycake.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                    <h3>Chocolate cakes</h3>
                  </div>
          </div>
          <div  class="carousel-item active">
                <img style="height: 60%;width:60%" class="rounded mx-auto d-block" src="/img/samo2.jpg" alt="secound slide">
                <div class="carousel-caption d-none d-md-block">
                        <h3 style="color:black">Samosa</h3>
                      </div>
              </div>
          <div class="carousel-item">
            <img style="height: 60%;width:60%" class="rounded mx-auto d-block" src="/img/shawa.jpg" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                    <h3>Shawarma</h3>
                  </div>
          </div>
          <div class="carousel-item">
                <img style="height: 60%;width:60%" class="rounded mx-auto d-block" src="/img/brownie.jpg" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                        <h3 style="color:black">Brownies</h3>
                      </div>
              </div>
        </div>
        <a class="carousel-control-prev" href="#carouselslider" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselslider" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
      </div


<!-- Page Content -->
<h2 style="margin-top:10px" id="heading">What we do</h2>
<div class="container">


    <!-- /.row -->

    <div id="productcontainer" class=" container row col-md-12">


    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modalheader" class="modal-title text-center">Modal Header</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <div style="display:none;" id="order-alert" class="alert alert-success">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong id="orderalert"></strong>
                </div>
                <div class=" img-responsive">
                    <img id="prodimage" style="width: 30%; height: 30%;border-radius: 12px; margin:5px;">
                </div>
                <form id="productForm" name="productForm">
                    <label class=" label-primary"><b>Cost</b></label>
                    <p id="orderamount"></p>
                    </p>
                    <label class=" label-primary"><b>Quantity</b></label>
                    <div class="input-group">

                        <span class="input-group-btn">
                        <button id="minus" type="button" class="btn btn-danger btn-number"  data-type="minus"   >
                          <span class="fa fa-minus"></span>
                        </button>
                        </span>
                        <input type="number" id="quant" name="amount" class="form-control input-number" value="1" min="1" max="100" disabled>
                        <span class="input-group-btn">
                        <button id="plus" type="button" class="btn btn-success btn-number" data-type="plus" >
                            <span class="fa fa-plus"></span>
                        </button>
                        </span>
                    </div>
                    <p></p>
                    <p>
                    </p>

                    <p></p>
                    <input type="submit" class="btn btn-primary" id="addtocart" name="productsubmit" value="Add to cart">
                </form>
                <br>
                <button type="submit" id="checkout" class=" form-control btn btn-primary fa fa-cart-plus">Checkout</button>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Bootstrap core JavaScript -->

</body>

</html>