<body>
    <div class="container login-container">
        <div class="row">
            <div class="col-md-6 login-form-2">
                <div id="alert-prompt" class="alert alert-success" style="display:none">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong  id="alerttext">Enter details to login</strong>
                </div>
                <h3></h3>
                <h4 class="text-info">Enter email to reset Password</h4>
                <form id="send_password_mail" name="send_password_mail" role="form">
                    <div class="form-group">
                        <span class="input-group-addon"><i class="fa fa-user fa-2x"></i></span>
                        <input id="email" type="text" class="form-control" name="email" placeholder="Email">
                    </div>
                   
                    <div class="input-group">
                        <input type="submit" name="submit" value="Reset Password" class="form-control btn btn-info" id="sendmail">
                    </div>
                   
                </form>
                <div class="form-group">
                    <a class="text-white" href="/user/register/">Login</a>
<br>
                    <a class="text-white" href="/user/register/">Dont have an account?</a>
                </div>
            </div>
        </div>
    </div>
</body>