<body>
    <div style="margin:auto" class="container login-container">
        <div class="row">
            <div class="col-md-6 login-form-2">
                <div id="alert-prompt" class="alert alert-success" style="display:none">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong style="display: block;" id="alerttext">Enter new Password to reset</strong>
                </div>
                <h3></h3>
                <form id="login_form" name="loginform" role="form">
                    <div class="form-group">
                        <span class="input-group-addon"><i class="fa fa-user fa-2x"></i></span>
                        <input id="password1" type="password" class="form-control" name="password" placeholder="Enter password">
                    </div>
                    <div class="form-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-2x"></i></span><input type="password" name="password2" placeholder="Confirm Password" id="password2" class="form-control">
                    </div>
                    <p class="text-danger" id="passcheck"></p>
                    <div class="input-group">
                        <input type="submit" name="submit" value="Set Password" class="form-control btn btn-info" id="setpassword">
                    </div>
                 
                </form>
                <div class="form-group">
<br>
                    <a class="text-info" href="/user/register/">Dont have an account?</a>
                </div>
            </div>
        </div>
    </div>
</body>